{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<style>
		.fa-circle-plus,
		.fa-circle-minus {


			color: black;
		}
		tbody {
			font-size: 18px;

		}
		.tt {
			font-size: 18px;
			font-weight: bold;
		}
	</style>

	<div class="bg-light p-3">
		<h1 class="h1-top">Votre panier</h1>
	</div>
	{% if items | length  > 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{item.product.name}}</td>
						<td>{{item.product.price | price}}</td>
						<td>
							<a href="{{path('cart_add',{'id': item.product.id} )}}">

								<i class="fa-solid fa-circle-plus fa-1x"></i>
							</a>


							{{item.quantity}}
							<a href="{{path('cart_less',{'id': item.product.id} )}}" class="fa-solid fa-circle-minus fa-1x"></a>


						</td>

						<td>{{(item.product.price  * item.quantity) | price }}</td>


						<td>
							<a href="{{path('cart_remove',{'id': item.product.id} )}}" class=" btn btn-danger btn-sm">

								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="tt">
					<td colspan="3">TOTAL :</td>
					<td>{{total | price}}</td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		{% if items != [] %}
			<a href="{{path('order_new')}}" class="btn btn-primary">Valider</a>
		{% endif %}
	{% else %}
		<p>Surprise, c'est vide!</p>
	{% endif %}
{% endblock %}
