{% extends 'base.html.twig' %}


{% block title %}Log in!
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: #03a9f4;
			height: 100%;
		}
		#connection {
			position: relative;
			margin-top: auto;

		}


		@media(max-width: 990px) {
			#connection {
				position: relative;
				margin-top: 150px;
			}
		}
	</style>


	<section id="connection" class="py-5">
		<div class="container">
			<div class="title text-center">
				<h2 class="position-relative d-inline-block py-2">IDENTIFIEZ-VOUS</h2>

			</div>
			<div class="row g-0">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div class="container  loggin ">
						<h1 class="h1-top"></h1>
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<div class="checkbox mb-3 checkboxx">
							<a href="{{ path("app_forgot_password_request")}}">Vous avez oublié votre mot de passe ?</a>
							<label>
								<input type="checkbox" name="_remember_me">
								Rester connecté

							</label>
						</div>

						<div class="title text-center">

							<button class="btn btn-lg btn-primary btn-loggin" type=" submit">
								connexion
							</button>
						</div>

						<h4>NOUVEAU CLIENT ?</h4>
						<a class="btn btn-lg btn-primary" href="{{ path('app_regis') }}">Créez un compte</a>


					</div>
				</form>
			</div>
		</section>
	{% endblock %}
