{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: #03a9f4;
			height: 100%;
		}

		#register {
			position: relative;
			margin-top: 150px;
			height: 100vh;
			display: flex;
			flex-direction: column;
			gap: 5px;

		}

		@media(max-width: 990px) {
			#connection {
				position: relative;
				margin-top: 150px;

			}
		}
	</style>
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<section id="register" class="py-5">
		<div class="container">
			<div class="title text-center">
				<h2 class="position-relative d-inline-block py-2">CRÉATION DE COMPTE</h2>
			</div>
			<div class="row g-0">
				<div class="container register">
					{{ form_start(registrationForm) }}
					<br><br>
					{{ form_widget(registrationForm.username) }}

					{{ form_widget(registrationForm.lastname) }}

					{{ form_widget(registrationForm.firstname) }}

					{{ form_widget(registrationForm.phone) }}

					{{ form_widget(registrationForm.address) }}

					{{ form_widget(registrationForm.email) }}

					{{ form_widget(registrationForm.plainPassword) }}

					{{ form_widget(registrationForm.town) }}

					{{ form_widget(registrationForm.zip_code) }}

					{{ form_widget(registrationForm.country) }}


					{# {{ form_row(registrationForm.agreeTerms) }} #}
					<div class="container_register_btn ">
						<button type="submit" class="btn btn-primary register_btn btn-lg">VALIDER</button>
					</div>

					{{ form_end(registrationForm) }}
				</div>


			</div>
		</section>

	{% endblock %}
