<style>
	.product-img span {
		top: 20px;
		right: 20px;
	}
	.product-list .btn {
		padding: 8px 20px !important;
	}
	.product-img img {
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.product-img:hover img {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}
	.d_pi {
		display: flex;
		flex-direction: column;
	}
	.product-img img {
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.product-img:hover img {

		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}
</style>

<div class="col-md-6 col-lg-4 col-xl-3 p-2 ">

	<div class="product-img position-relative overflow-hidden">

		<img src="/upload/images/products/{{product.file}}" class="w-90"/>
	</div>
	<div class="text-center d_pi">
		<p class="text-capitalize my-1">
			<a href="{{ path('product_show', {'id': product.id}) }}">{{product.name}}</a>
		</p>
		<span class="fw-bold">{{product.price/100 | number_format(0, ',', '')}}€</span>
		<a href="{{path('cart_add',{'id': product.name} )}}" class="btn btn-primary mt-3">Add to Cart</a>
	</div>
</div>
